@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 16px;
    font-family: 'Lato', serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: rgb(240, 240, 240);
}

section.main {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
    background-color: white;
    padding: 40px 0;
}

.main form {
    max-width: 700px;
    margin: 0 auto;
}

.main form h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #093028;
    font-weight: 400;
    text-transform: uppercase;
}

.main form .form-input {
    width: 100%;
    margin: 10px 0
}

form .form-input input, form .form-input select {
    width: 100%;
    margin-top: 4px;
    height: 2rem;
    border: 1px solid #ccc;
    padding-left: 8px;
}

form button {
    padding: 1rem 2rem;
    background: #093028;
    background: -webkit-linear-gradient(to right, #237A57, #093028);
    background: linear-gradient(to right, #237A57, #093028);
    color: white;
    margin-top: 8px;
    border: 0;
    border-radius: 0.5rem;
}

form .form-input input:focus {
    outline: 0;
}